
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6dce9e, #5f92c2);
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.vr-interface {
    text-align: center;
    background-color: rgb(159, 187, 170);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.vr-interface h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.vr-interface ul {
    list-style: none;
    padding: 0;
}

.vr-interface li {
    margin-bottom: 10px;
}

.vr-interface a {
    display: block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.vr-interface a:hover {
    background-color: #2980b9;
}


